fastapi==0.116.1
uvicorn[standard]==0.35.0
requests==2.32.4
certifi==2025.8.3
python-dotenv==1.1.1
python-multipart==0.0.20
psycopg2-binary==2.9.10
pytest==8.4.1
openai
pydantic
supabase
google-genai
mutagen
moviepy
yt-dlp[default]
bgutil-ytdlp-pot-provider==1.3.2
opencv-python-headless
scenedetect
static-ffmpeg
Pillow
cloudinary==1.46.2
